body{
    background-color: lightcyan;
}
header{
    background-color: lightpink;
    height: 10%; 
    border-radius: 8px; 
    padding: 5px; 
    margin-bottom: 12px;
    text-align: center;
}
nav{
    height: 5%; 
    background-color: aquamarine; 
    padding: 5px; 
    border-radius: 8px; 
    float: center; 
    margin-bottom: 12px;
    text-align: center;
}
main{
    height: 70%; 
    border-radius: 8px; 
    margin-bottom: 12px;
}
article{
    height: calc(100% - 12px); 
    background-color: lightgrey; 
    width: calc(40% - 18px); 
    float: left; 
    border-radius: 8px; 
    padding: 4px;
    text-align: center;
}
aside{
    height: calc(100% - 12px); 
    background-color: lightblue; 
    width: calc(60% - 18px); 
    float: right; 
    border-radius: 8px; 
    padding: 4px;
}
footer{
    height: 10%; 
    background-color: lightpink; 
    border-radius: 8px; 
    padding: 5px;
    text-align: center;
}
h1{
    text-align:center; 
}